#
# Copyright (c) 2017 EditorConfig Maven Plugin
# project contributors as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Java CI

on: [pull_request]

jobs:
  linux:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        java: [ 8, 11, 13 ]
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: ./mvnw clean verify -B -ntp -Dinvoker.streamLogs=true
    - name: Store test results
      if: failure()
      run: cat target/it/rpkg-and-run-tests/build.log target/it/rpkg-and-run-tests2/build.log
  windows:
    runs-on: windows-2019
    strategy:
      matrix:
        java: [ 8, 11, 13 ]
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: './mvnw clean verify -B -ntp "-Dinvoker.streamLogs=true"'
    - name: Store test results
      if: failure()
      run: 'type target\it\rpkg-and-run-tests\build.log'
