#
# Copyright (c) 2017 EditorConfig Maven Plugin
# project contributors as indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: verify

on: [pull_request]

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: pom-tuner-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
          restore-keys: |
            pom-tuner-${{ hashFiles('**/pom.xml') }}-
            pom-tuner-

      - name: mvn install
        shell: bash
        run: ./mvnw install -e -B -ntp

  test:
    name: Test
    needs: install
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macOS-latest" ]
        # 17 is covered in install above
        jdk: [ "8", "11", "21", "25" ]
    steps:

      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: pom-tuner-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}

      - run: ./mvnw verify -e -B -ntp -rf :editorconfig-maven-plugin-test
